.sub-menu {
  margin-left: 0;
}

#mobileMenuToggle {
  background: transparent;
  border: 0;
  padding: 0;
  display: flex;
  cursor: pointer;
  font-size: 16px;
  z-index: 1001;
  transition: all 0.3s ease-in-out;
}

.burger-menu-piece {
  position: absolute;
  background: #fff;
  width: 20px;
  height: 2px;
  transition: all 0.3s ease-in;
}

#mobileMenuToggle span:nth-of-type(1) {
  animation: burgerPiece_1_close 0.75s forwards;
}

#mobileMenuToggle span:nth-of-type(2) {
  animation: burgerPiece_2_close 0.75s forwards;
}

#mobileMenuToggle span:nth-of-type(2) {
  animation: burgerPiece_3_close 0.75s forwards;
}

#mobileMenuToggle.toggled span:nth-of-type(1) {
  animation: burgerPiece_1_open 0.75s forwards;
}

#mobileMenuToggle.toggled span:nth-of-type(2) {
  animation: burgerPiece_2_open 0.75s forwards;
}

#mobileMenuToggle.toggled span:nth-of-type(3) {
  animation: burgerPiece_3_open 0.75s forwards;
}

@keyframes burgerPiece_1_open {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(7px) rotate(45deg);
  }
}

@keyframes burgerPiece_2_open {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0;
  }
}

@keyframes burgerPiece_3_open {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(-7px) rotate(-45deg);
  }
}

@keyframes burgerPiece_1_close {
  0% {
    transform: translateY(7px) rotate(45deg);
  }
  50% {
    transform: translateY(7px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes burgerPiece_2_close {
  0% {
    transform: translateY(0px) rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes burgerPiece_3_close {
  0% {
    transform: translateY(-7px) rotate(-45deg);
  }
  50% {
    transform: translateY(-7px);
  }
  100% {
    transform: translateY(0px);
  }
}

.mobile-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.mobile-menu .mobile-menu__right,
.mobile-menu .mobile-menu__left {
  flex: 1 1 25%;
}

.mobile-menu .site-branding {
  transform: translateY(-5px);
}

.mobile-menu .site-branding .custom-logo-link {
  margin: auto;
}

.mobile-menu .site-branding img {
  width: 100%;
}

.mobile-menu .nav-icon {
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-menu .nav-icon-wrapper {
  position: relative;
  width: 20px;
  height: 16px;
}

.mobile-menu-wrapper {
  background: #000;
  width: 85%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: opacity;
  padding-top: 10rem;
  min-height: 100vh;
  height: 100%;
  height: -webkit-fill-available;
  overflow: scroll;
  transform: translateX(-100%);
  transition: opacity 0.2s, visibility 0s linear 0.2s, transform 0.5s ease-out;
  display: flex;
  flex-flow: column;
}

.mobile-menu .menu-item {
  padding: 0.5rem;
  transition: all 0.5s ease-in-out;
  width: 100%;
  /* display: flex; */
  align-items: center;
  border-bottom: 1px solid gold;
}

.mobile-menu .menu-item:last-of-type {
  border-bottom: none;
}

.mobile-menu .show-submenu {
  /* padding: 0.25em 1.5em; */
  /* display: block; */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2em;
  width: 2em;
}

.menu-item-expanded {
  width: 100%;
}

.mobile-menu #back-button {
  order: 0;
  background-color: #efefef;
  flex-flow: row-reverse;
}

.mobile-menu-wrapper.toggled {
  transform: translateX(0);
  visibility: visible;

  opacity: 1;
  transition: opacity 0.2s, visibility 0s linear 0.2s,
    transform 0.5s ease-in-out;
}

.desktop-menu ul {
  display: flex;
  flex-flow: row;
}

.desktop-menu ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  transition: all 0.75s ease-in-out;
  height: 100%;

  position: relative;
  margin-left: 1em;
}

.desktop-menu ul li li {
  padding: 0 0 0.5em 0;
}

.desktop-menu ul li a {
  text-align: center;
  padding: 0.5em 1em;
  width: calc(100% - 3em);
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 700;

  transition: all 0.3s ease-in-out;
  width: 100%;
  white-space: nowrap;
  justify-content: center;
}

.desktop-menu ul li .current_page_item a,
.desktop-menu ul li .current-menu-item a {
  color: gold;
}

.desktop-menu ul li .show-submenu {
  display: none;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 2em;
  width: 2em;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.desktop-menu ul li .show-submenu__toggled {
  transform: rotate(45deg);
}

.desktop-menu ul.sub-menu {
  width: auto;
  height: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 20px;
  border-radius: 2px;
  will-change: opacity;
  display: none;
}

.desktop-menu ul.sub-menu li {
  border-bottom: 0;
  justify-content: flex-start;
}

.desktop-menu ul.sub-menu li a {
  text-transform: inherit;
  padding-left: 15px;

  display: block;
  width: max-content;
}

.show-submenu {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 2em;
  min-width: 2em;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

.sub-menu {
  position: relative;
  height: 100%;
  flex-flow: column;
  padding: 0;
  height: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.sub-menu--expanded {
  height: auto;
}

.sub-menu li.menu-item a {
  text-transform: inherit;
}

.desktop-menu ul.sub-menu--expanded {
  height: auto;
  position: absolute;
  top: 100%;
}

.desktop-menu .trigger-enter {
  .sub-menu {
    display: flex;
    flex-flow: column;
  }
}

.desktop-menu .trigger-enter-active {
  .sub-menu {
    opacity: 1;
  }
}

.desktop-menu .dropdownBackground {
  width: 100px;
  height: 100px;
  position: absolute;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  display: flex;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
}

.desktop-menu .dropdownBackground.open {
  opacity: 1;
  pointer-events: initial;
}

.desktop-menu .arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: white;
  transform: translateY(-50%) rotate(45deg);
}
