.modal-content {
  transition: all 0.45s ease-in-out;
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
  transform: translateY(0%);
}

.modal.modal-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: -10;
}

.modal.modal-hidden .modal-content {
  opacity: 0;
  transform: translateY(10%);
}
